{
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react/state-in-constructor": "off",
    "no-plusplus": "off",
    "react/no-array-index-key": "off",
    "spaced-comment": "off",
    "no-prototype-builtins": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off"
  }
}