.result-list{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 15px;
  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__answers {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  p {
    margin: 0;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: center;
  }
}