.button {
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  background: #1532ff;
  color: #fff;
  margin-right: 10px;
  transition: all .3s;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 6px 2px #0d22b1;
  }
  &__primary {
    background: #d6ec49;
    color: #000;
    transition: all .3s;
    &:hover {
      box-shadow: 0 0 7px 3px #808b33;
    }
  }
  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}