.quiz-answer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #f04747 0%, #ff6a6a 37%, #f79c9c 100%);
  box-sizing: border-box;
  h1 {
    color: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #363f54;
      }
    }
  }
}